$cookie-dialogue-color: #fff !default;
$cookie-dialogue-background: #000 !default;
$cookie-dialogue-button-color: #fff !default;
$cookie-dialogue-button-border-color: #fff !default;
$cookie-dialogue-button-background: transparent !default;
$cookie-dialogue-button-hover-color: #000 !default;
$cookie-dialogue-button-hover-background: #fff !default;

.cookie-dialogue {
  background: rgba($cookie-dialogue-background, 0.7);
  bottom: 0;
  color: $cookie-dialogue-color;
  font-size: 12px;
  left: 0;
  line-height: 1.4;
  padding: 12px 5px;
  position: fixed;
  text-align: center;
  transform: translateY(110%);
  transition: transform 0.5s cubic-bezier(0.165, 0.84, 0.44, 1);
  user-select: none;
  width: 100%;
  z-index: 10050;

  &.-visible {
    transform: translateY(0);
  }

  a {
    color: $cookie-dialogue-button-color;
    cursor: pointer;
    text-decoration: underline;

    &:hover {
      text-decoration: none;
    }
  }

  p {
    margin: 0 auto 1em;
    max-width: 50em;
  }

  button {
    color: $cookie-dialogue-button-color;
    cursor: pointer;
    background: $cookie-dialogue-button-background;
    border: 1px solid $cookie-dialogue-button-border-color;
    display: inline-block;
    margin: 0 auto;
    padding: 5px 24px;
    text-decoration: none;
    border-radius: 1px;

    &:focus,
    &:hover {
      background: $cookie-dialogue-button-hover-background;
      color: $cookie-dialogue-button-hover-color;
    }

    &:focus {
      outline: none;
    }
  }
}
